{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portal Inmobiliario{% endblock %}</title>

    {% block head %}{% endblock %}

</head>
<body>
    <header>
        <nav> 
            {% block navbar %}{% endblock %}
        </nav>

        {% block header %}{% endblock %}

    </header>

    <main>
        {% block content %}
        <!-- Contenido principal de cada subplantilla -->
        {% endblock %}
    </main>

    <footer>
        {% block footer %}{% endblock %}
    </footer>

</body>
</html>
